* {
	margin: 0px;
	padding: 0px;
}

html{
	/*background-image: url(/assets/bg1.jpg);*/
	background-size: cover;
}

/*Containers*/

.container {
	width: 980px;
	margin: 0px auto;
	margin-top: 50px;
}

.playerContainer {
	float: left;
	background-color: rgba(255,100,0,.8);
	width: 60%;
	max-width: 60%;
	min-height: 500px;
	border: 1px solid black;
	border-radius: 5px;
	margin: 5px;
	display: none;
}

.activeDiv {
	display: block;
}

.fortuneCardContainer {
	float: left;
	background-color: rgba(255,0,100,.8);
	width: 30%;
	max-width: 30%;
	min-height: 200px;
	border: 1px solid black;
	border-radius: 5px;
	margin: 5px;

}

.statisticsContainer {
	float: left;
	background-color: rgba(0,100,255,.8);
	width: 30%;
	max-width: 30%;
	min-height: 288px;
	border: 1px solid black;
	border-radius: 5px;
	margin: 5px;
}

/* End of Containers*/


/*Players*/

.playerTitle {
	font-size: 30px;
	text-align: center;
}